body{
    margin: 0;
    background-color: #1e1e1e;
    font-weight: 400;
    font-family: Inter, sans-serif;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
ul, 
ol, 
blockquote{
    margin: 0;
    padding: 0;
}

.content-section{
    box-sizing: border-box;
    width: 360px;
    margin: auto;
}

.content-section_theme_dark{
    color: #F5F5F5;
    background-color: rgba(19, 19, 19, 1);
}

.content-section_theme_bright{
    color: #131313;
    background-color: #FEE42A;   
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px 20px;
}

.header__logo{
    display: block;
    width: 78px;
}

.header__logo-image{
    width: 100%;
}

.header__menu{
    margin: 0;
}

.header__menu-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 12px;
}

.header__menu-link{
    color: #F5F5F5;
    font-size: 16px;
    line-height: 1.2;
}

.header__menu-item_active .header__menu-link{
    text-decoration: none;
}

.cover{
    background-image: url(../images/cover.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 95% auto;
    padding: 7px 24px 32px 20px;
}

.cover__title{
    width: 100%;
    color: #FFFFFF;
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 1;
}

.accent-span{
    display: block;
    text-align: left;
}

.text-center{
    display: block;
    text-align: center;
}

.text-right{
    display: block;
    text-align: end;
}

.intro{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 7px 20px 38px;
}

.intro__heading{
    display: flex;
    justify-content: space-between;
    gap: 22px;
    font-size: 16px;
    color: #CCCCCC;
}

.intro__title{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}

.intro__date{
    white-space: nowrap;
    font-size: 16px;
    line-height: 1.2;
}

.intro__main-text{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    color: #F5F5F5;
    gap: 24px;
}

.reasons{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px 20px;
}

.content-section__subtitle{
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    line-height: 115%;
    font-size: 28px;
}

.content-section__introduction{
    font-size: 20px;
    font-weight: 400;
    line-height: 135%;
}

.content-section__list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    padding: 0 0 0 16px;
}

.content-section__list-accent{
    font-weight: bold;
}

.how-to{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px 20px 60px;
}

.cards-list{
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style: none;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
    border-radius: 30px;

}

.card__author{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card__author-photo{
    display: block;
    width: 100px;
    border-radius: 50%;
}

.card__author-name{
    font-weight: 700;
}

.card__content{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card__title{
    font-family: 'EB Garamond', serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 135%;
}

.card__text{
    font-size: 16px;
    line-height: 21.6px;
}

.card_theme_dark{
    color: rgba(245, 245, 245, 1);
    background-color: rgba(52, 52, 52, 1);
}

.card_theme_bright{
    color: #131313;
    background-color: #FEE42A;
}

.footer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    border-top: 1px solid #FEE42A;;
}

.footer__copy{
    font-size: 16px;
}

.footer__links{
    display: flex;
    gap: 16px;
    list-style: none;
}

.footer__links a{
    text-decoration: none;
    font-size: 14px;
    color: #F5F5F5;
    line-height: 1.25;

}